canvas {
    border: 1px solid red;
}


/* #spielfigur {
    width: 30px;
    height: 30px;
    background-image: url(images/idle/still1.png)+ i + ".png";
    position: absolute;
    top: 0;
    left: 0;
} */